.App {
  text-align: center;
  background-color: rgb(111, 19, 216);
  
}

.App-logo {
  height: 40vmin;
  
}

.App-header {
  background-color: #1252d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(111, 19, 216);
}

.App-link {
  color: #09d3ac;
}

